
<form action="" (ngSubmit)="onSubmit()">
    <h2>registrar un nuevo articulo</h2>
    <div>
        <label for="">id del articulo</label>
        <input type="text" name="id" id="" [(ngModel)]="id"> 
    </div>
    <div>
        <label for="">nombre del articulo</label>
        <input type="text" name="title" id="" [(ngModel)]="title"> 
    </div>
    <div>
        <label for="">nombre del articulo</label>
        <input type="text" name="price" id="" [(ngModel)]="price">
    </div>
    <div>
        <label for="">nombre del articulo</label>
        <input type="text" name="title" id="" [(ngModel)]="quantity">
    </div>
    <input type="submit" value="Crear">
</form>